.DS_Store

*.WIP
*/*.retry
**/*.retry

.terraform
/terraform.tfstate.*

/docker/volumes/sonar/qube/data/*
!/docker/volumes/sonar/qube/data/.gitkeep
/docker/volumes/sonar/qube/logs/*
!/docker/volumes/sonar/qube/logs/.gitkeep
/docker/volumes/sonar/qube/conf/*
!/docker/volumes/sonar/qube/conf/.gitkeep

/output/tfvars/*
!/output/tfvars/.gitkeep

/secrets/*
/secrets/**/*
!/secrets/vault-pass.default

/node_modules/
/terraform/.terraform/
/terraform/main.tf
/terraform/output/*.json
/terraform/terraform.tfstate.d/
/terraform/modules/aws/**/node_modules
/terraform/modules/aws/**/output/*.zip

terraform/modules/aws/ddb/stream/vitals/lambda/*/fn/package-lock.json

/vendor/gitlab/*.k
